@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDO</h1>
    <p class="lead">Sea bienvenido a la tarea sobre Html Helpers y Data Annotaions, por favor, proceda al formulario. Gracias</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HTML Helpers</h2>
        <p>
            HtmlHelper class generates html elements using the model class
            object in razor view. It binds the model object to html elements
            to display value of model properties into html elements and also
            assigns the value of the html elements to the model properties
            while submitting web form. So always use HtmlHelper class in razor
            view instead of writing html tags manually.
        </p>
        <p><a class="btn btn-default" href="https://desarrolloweb.com/articulos/helpers-formularios-dotnet.html">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Data Annotations</h2>
        <p>
            DataAnnotations is used to configure your model classes, 
            which will highlight the most commonly needed configurations. 
            DataAnnotations are also understood by a number of .NET applications, 
            such as ASP.NET MVC, which allows these applications to leverage 
            the same annotations for client-side validations. DataAnnotation 
            attributes override default Code-First conventions.
        </p>
        <p><a class="btn btn-default" href="https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_data_annotations.htm">Learn more &raquo;</a></p>
    </div>
</div>